html{
    height: 100%;
}

body{
	background-color: #428bca !important;
    font-family: 'Inconsolata',sans-serif;
    min-height: 100%;
}

h1, h2, h3, h4{
    color:white;
}


/* Code output */
pre{
    color: #666666 !important;
}


/* Linter table */
#examples-button, #linter-table, #linter-table th{
    color: white;
}

#linter table, #linter-table th{
    font-weight: bold;
}


/* Stackoverflow answers accordion */
.uk-accordion-title, .uk-accordion-title:active, .uk-accordion-title:focus, .uk-accordion-title::before{
    color: white;
    display: contents;
}

/* Pycee answer */
#pycee-answer * {
    color: white;
}


/* Footer */
footer, footer a{
    color: white;
}

#content{
    min-height: calc(100vh - 70px);
}

footer{
    height: 70px;
}