<div class="uk-inline uk-margin-small">
    <button id="examples-button" class="uk-button uk-button-default" type="button">Examples</button>
    <div uk-dropdown="pos: bottom-left">
        <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#" id="attribute-error-example">Attribute error</a></li>
            <li><a href="#" id="type-error-example">Type error</a></li>
            <li><a href="#" id="index-error-example">Index error</a></li>
            <li><a href="#" id="name-error-example">Name Error</a></li>
            <li><a href="#" id="module-not-found-error-example">Module no found error</a></li>
            <li><a href="#" id="value-error-example">Value error</a></li>
            <li><a href="#" id="syntax-error-example">Syntax error</a></li>
        </ul>
    </div>
</div>