<div class="uk-inline uk-margin-small">
    <button id="examples-button" class="uk-button uk-button-default" type="button">Examples</button>
    <div uk-dropdown="pos: bottom-left">
        <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#" id="codeexample1">Type error</a></li>
            <li><a href="#" id="codeexample2">Index error</a></li>
            <li><a href="#" id="codeexample3">3</a></li>
            <li><a href="#" id="codeexample4">Module no found error</a></li>
            <li><a href="#" id="codeexample5">5</a></li>
            <li><a href="#" id="codeexample6">6</a></li>
            <li><a href="#" id="codeexample7">7</a></li>
        </ul>
    </div>
</div>